<%- include("template/content", {title: "Index"}) %>

<h2>Hola <%= name %>, tienes <%= age %> años</h2>

<% if (age >= 18) { %>
<p>Eres mayor de edad.</p>
<% } else { %>
<p>Eres menor de edad.</p>
<% } %>

<ul>
  <% for( let i = 0; i < arr.length; i++ ) { %>
  <li><%= arr[i] %></li>
  <% } %>
</ul>

<p>El numero de visitas es de <%= views %></p>
