extends ../template/content

block content
    div(class="auth-page expand")
        div(class="card")
            div(class="card-header")
                h1(class="title")= "Registro"
            form(action="/user/register" method="post")
                div(class="card-body")
                    div(class="form-group")
                        label(for="email") Correo:
                        input(type="text" id="email" name="email" class=errors && errors.email ? "has-errors" : "")
                        if errors && errors.email
                            div(class="error-text")= errors.email.message
                    div(class="form-group")
                        label(for="password") Contraseña:
                        input(type="password" id="password" name="password" class=errors && errors.password ? "has-errors" : "")
                        if errors && errors.password
                            div(class="error-text")= errors.password.message

                div(class="card-footer")
                    div(class="card-register-link")
                        div(class="small")
                            | ¿Todavia no te has registrado?
                        a(href="login") Has click aqui
                    button(type="submit" class="btn btn-primary") Registrarme